.header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #275bb2;
  padding: 0 7.5%;
}

@media (max-width: 575.98px) {
  .header {
    height: 8rem;
    flex-flow: column wrap;
    justify-content: center;
    padding: 0 5%;
  }
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

@media (max-width: 575.98px) {
  .logo {
    padding-bottom: 1rem;
  }
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header li:first-child {
  margin-left: 0;
}

@media (max-width: 767.98px) {
  .header li {
    margin-left: 1.5rem;
  }
}

@media (max-width: 575.98px) {
  .header li {
    margin-left: 0.75rem;
  }
}

.header a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #d3deef;
}

@media (max-width: 767.98px) {
  .header a {
    font-size: 1rem;
  }
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

.badge {
  background-color: #527bc1;
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}
