.spinner {
  margin: 0;
  line-height: 0;
  text-align: center;
}

.spinner > div {
  width: 1rem;
  height: 1rem;
  background-color: #2351a0;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bounce-delay 1.4s infinite ease-in-out both;
  animation: sk-bounce-delay 1.4s infinite ease-in-out both;
}
button .spinner > div {
  background-color: white;
  width: 0.75rem;
  height: 0.75rem;
}

.spinner .bounce-1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce-2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bounce-delay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce-delay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
